<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>522961363699-hc7hvbpjv38n7161fr4hl36pue6pau9u.apps.googleusercontent.com</string>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>سوق جملة</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>

 	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
                <string>com.googleusercontent.apps.522961363699-hc7hvbpjv38n7161fr4hl36pue6pau9u</string>
			</array>
		</dict>
	</array>

	<key>CFBundleVersion</key>
	<string>3.5.2</string>

	<key>FDAllFilesDownloadedMessage</key>
	<string>All files have been downloaded</string>
	<key>FDMaximumConcurrentTasks</key>
	<integer>5</integer>

	<key>LSApplicationCategoryType</key>
	<string></string>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>

	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>

	<!-- 🔒 Privacy Usage Descriptions -->
	<key>NSAppleMusicUsageDescription</key>
	<string>Users receive a small alert tone after changing the order delivery status</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect with wearables.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to connect with wearables.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>User can choose date from calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>User can upload and change their profile picture from Camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow contact access for details</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>User can set address using phone location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access while app is in use</string>
	<key>NSMotionUsageDescription</key>
	<string>This app will use your motion data for your active tasks</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>User can upload and change their profile picture from Photo Library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>User can send messages or search data by voice</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
